body {
  width: 1280px;
  height: 717px;
}

html {
  width: 1280px;
  height: 717px;
}
.lvl1 {
  position: relative;
  width: 1280px;
  height: 720px;

  background: #ffffff;
}

.lvl1-header {
  position: absolute;
  width: 1280px;
  height: 103px;
  left: 0px;
  top: 0px;

  background: #f0d12d;
  box-shadow: 0px 2.3px 0px rgba(0, 0, 0, 0.022),
    0px 3.4px 0px rgba(0, 0, 0, 0.031), 0px 4.4px 0px rgba(0, 0, 0, 0.039),
    0px 5.8px 0px rgba(0, 0, 0, 0.048), 0px 10px 0px rgba(0, 0, 0, 0.07);
}

.lvl1-lifes {
  position: absolute;
  width: 640px;
  height: 103px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cc9c19;

  color: #cc9c19;
}

.lvl1-lvl {
  position: absolute;
  width: 640px;
  height: 103px;
  left: 640px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: space-evenly;

  color: #ffffff;
}

.board {
  position: absolute;
  width: 1280px;
  height: 617px;
  left: calc(50% - 1280px / 2);
  top: calc(50% - 617px / 2 + 51.5px);
  display: grid;
  grid-template-columns: 236px 236px 236px;
  grid-template-rows: 104px 104px 104px;
  row-gap: 80px;
  column-gap: 114px;
  justify-content: center;
  align-content: center;
  color: #ffffff;
}

.loose {
  position: absolute;
  width: 717px;
  height: 356px;
  left: 281px;
  top: 182px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  display: none;
  align-items: center;
  text-align: center;
  color: #6d6d6d;
  justify-content: space-around;
  flex-direction: column;
  justify-items: center;
}

.start-btn {
  position: relative;
  width: 383px;
  height: 123.77px;
  left: 448px;
  top: 493px;
  border: none;

  background: #48e445;

  border-radius: 15px;
  box-shadow: -11px 11px 0px #b1b1b1, 11px -11px 0px #ffffff;
  opacity: 0.7;
}
.start-btn:hover {
  opacity: 1;
}

.start-txt {
  width: 375px;
  height: 124px;
  left: 0px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55.009px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #497e2f;

  border-radius: 15px;
}

.win {
  position: absolute;
  width: 717px;
  height: 356px;
  left: 290px;
  top: 182px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;
  display: none;
  align-items: center;
  text-align: center;
  color: #6d6d6d;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}

.card-show {
  visibility: visible;
  display: grid;
}
.card-no-show {
  display: none;
}

.back-card {
  display: grid;
  opacity: 0.5;
  transition: 0.3s;
}

.matched {
  display: none;
}

#board > div {
  border-radius: 15px;
  box-shadow: 2.3px 2.3px 0px rgba(0, 0, 0, 0.022),
    3.4px 3.4px 0px rgba(0, 0, 0, 0.031), 4.4px 4.4px 0px rgba(0, 0, 0, 0.039),
    5.8px 5.8px 0px rgba(0, 0, 0, 0.048), 10px 10px 0px rgba(0, 0, 0, 0.07);
}

.gif {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  height: 103px;
}

.back-card:hover {
  opacity: 1;
}

#lifes {
  margin-left: 20px;
}

.container {
  box-shadow: 14.1px 11.5px 0px rgba(0, 0, 0, 0.032),
    23.2px 18.8px 0px rgba(0, 0, 0, 0.048), 32px 26px 0px rgba(0, 0, 0, 0.08);
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
  padding: 9px;
}
